<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        table{
            display : flex;

            /* align-items : center; */
            justify-content : center;
        }
        tr{
            height : 200px;
        }
        th{
            width : 200px;
        }
        td{
            width : 200px;
        }
        
    </style>
</head>
<body>
    <h1>세탁물 신청 조회</h1>
    <table>
        <tr>
            <th>닉네임</th>
            <th>주소</th>
            <th><img src="">사진</th>
            <th>세탁 요청시간</th>
            <th>수락 하기</th>
        </tr>
        <tr>
            <td>닉네임</td>
            <td>주소</td>
            <td>사진</td>
            <td>세탁 요청시간</td>
            <td>
                <button>수락하기</button>
            </td>
        </tr>
        <tr>
            <td>닉네임</td>
            <td>주소</td>
            <td>사진</td>
            <td>세탁 요청시간</td>
            <td>
                <button>수락하기</button>
            </td>
        </tr>
    </table>
</body>
</html>