<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--    BootStrap Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--    JQuery Cookie-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<script>


    $(document).ready(function () {
        // 토큰이 있을 경우 로그인 기능 hide & 페이지 이동
        const token = $.cookie("token");
        if (token) {
            $('#btn_login').hide();

            $.ajax({
                type: "GET",
                url: "/api/users/me",
                data: {},
                success: function (response){
                    // alert(response.user.userType);
                    if(response.user.userType === 1) {
                        location.href = "/api/signup"; // 사용자 페이지로 이동
                    } else if(response.user.userType === 0) {
                        location.href = "/api/users/me"; // 사장 페이지로 이동
                    }
                    
                }
            });

        } else {
            // 토큰이 없을 경우 
            $('#btn_login').show();
        }
    });

    function moveToSign() {
        location.href = "signup";
    }

    function moveToLogin() {
        location.href = "/api/login"
    }

</script>
<body>

<div>

    <div class="post-body">
        <button id="btn_login" type="button" class="btn btn-dark" onclick="moveToLogin()">로그인</button>
    </div>


</div>


</body>
</html>
